:root {
    --main-color: #4385FF;
    --primary-text-color: #000;
    --secondary-text-color: #FFFF;
    --secondary-color: #E6EFFF;
    --tertiary-color: #FF00E5;
    --saque-color: #D3FFBB;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--secondary-text-color);
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
i {
    color: var(--primary-text-color);
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    padding: 14px 24px;
    background: var(--secondary-text-color);
    border-bottom: 2px solid var(--primary-text-color);
}
header h1 {
    color: var(--main-color);
    font-weight: 500;
} 
.logo {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--secondary-text-color);
    border: 2px solid var(--main-color);
}
.data {
    display: flex;
    align-items: flex-start;
    padding: 6px 16px;
    gap: 8px;
    width: 100px;
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    font-size: 1rem;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}

main h1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #000;
}
.card {
   
    
}